// ----- image layout ----- // 
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div[class^="img"] {
    padding: $gutter;
        @media (min-width: $breakp-m) {
            padding: $gutter-m;
        }
        @media (min-width: $breakp-l) {
            padding: $gutter-l;
        }
}

img {
    max-width: 100px;
    max-height: 100px;
        @media (min-width: $breakp-s) {
            max-width: 150px;
            max-height: 150px;
        }
        @media (min-width: $breakp-m) {
            max-width: initial;
            max-height: initial;
        }
}