// ----- search bar ----- //
.search-bar  {
    margin: 20px auto;
    input {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: 2px solid lightgrey;
    border-radius: $rounded;
    padding: 10px;
    font-size: 0.8em;
        @media (min-width: $breakp-s) {
            width: 60%;
            font-size: 1em;
        }
        @media (min-width: $breakp-m) {
            width: 60%;
            font-size: 1.2em;
        }
        @media (min-width: $breakp-l) {
            width: 40%;
        }
    }
}