* {
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: 0 auto;
}

.item img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
        @media (min-width: $breakp-s) {
        font-size: 3.5em;
    }
}